{
    http_port 8080
    https_port 8443
    storage file_system /config/caddy/data
}

(block_world) {
    @block not remote_ip private_ranges
    abort @block
}

(security_headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains;"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin"
        X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
    }
}

(log_settings) {
    log {
        hostnames {args[0]}
        level DEBUG
        output file /config/caddy/logs/{args[0]}.log {
            roll_at 00:00
            roll_size 10mb
            roll_keep 5
            roll_keep_for 720h
        }
    }
}

# Default http file server
:8080 {
    import log_settings mydomain.duckdns.org.8080
    import block_world
    root * /config/caddy/www
    file_server
}

# Example reverse proxy duckdns using sub domains
#########

#overseerr.mydomain.duckdns.org {
#    import security_headers
#    import log_settings overseerr.mydomain.duckdns.org.5055
#    tls {
#        dns duckdns {env.DUCKDNS_TOKEN}
#    }
#    reverse_proxy  host-ip:5055
#}
#sonarr.mydomain.duckdns.org {
#    import security_headers
#    import log_settings sonarr.mydomain.duckdns.org.8989
#    tls {
#        dns duckdns {env.DUCKDNS_TOKEN}
#    }
#    reverse_proxy  host-ip:8989
#}
#radarr.mydomain.duckdns.org {
#    import security_headers
#    import log_settings radarr.mydomain.duckdns.org.7878
#    tls {
#        dns duckdns {env.DUCKDNS_TOKEN}
#    }
#    reverse_proxy  host-ip:7878
#}

# Example reverse proxy duckdns using root base url
#########

#mydomain.duckdns.org:8443 {
#    import security_headers
#    import log_settings mydomain.duckdns.org.5055
#
#    tls {
#        dns duckdns {env.DUCKDNS_TOKEN}
#    }
#
#    reverse_proxy host-ip:5055
#}

# Example reverse proxy duckdns using app base url
#########

#mydomain.duckdns.org:8443 {
#    import security_headers
#
#    tls {
#        dns duckdns {env.DUCKDNS_TOKEN}
#    }
#
#    handle /overseerr/* {
#        import log_settings mydomain.duckdns.org.overseerr.5055
#        reverse_proxy host-ip:5055
#    }
#
#    handle /sonarr/* {
#        reverse_proxy  host-ip:8989
#        import log_settings mydomain.duckdns.org.sonarr.8989
#    }
#
#    handle /radarr/* {
#        reverse_proxy  host-ip:7878
#        import log_settings mydomain.duckdns.org.radarr.7878
#    }
#
#    # catch-all
#    handle {
#        respond "Not Found" 404
#    }
#}
